# ignore dev files
/.dev
/dev/dev.go

# ignore ide files
**/.vscode

# ignore node_modules
frontend/node_modules

# ignore yarn
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/sdks
frontend/!.yarn/versions

# ignore generated content
charts/crds/generated
charts/operator/generated
internal/embed/**/*
!internal/embed/empty.txt
